<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.logisticappproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TestDetailActivity"></activity>
        <activity android:name=".TestScanActivity" />
        <activity android:name=".TestSearchActivity" />
        <activity android:name=".MaterialDetailActivity" />
        <activity android:name=".RoomDetailActivity" />
        <activity android:name=".RoomNotification" />
        <activity android:name=".SiteNotificationsDetailsActivity" />
        <activity android:name=".NotificationBySiteActivity" />
        <activity android:name=".SiteSearchActivity" />
        <activity android:name=".SiteDetailActivity" />
        <activity android:name=".NotificationMaterialActivity" />
        <activity android:name=".SiteResumeActivity" />
        <activity android:name=".NotificationTestActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".AyudaUser" />
        <activity android:name=".Coordinador" />
        <activity android:name=".Delegado" />
        <activity android:name=".Distribuidor" />
        <activity android:name=".JefeSalon" />
        <activity android:name=".CambioClave" />
        <activity android:name=".SiteNotificationDetailByRoomActivity" />
        <activity android:name=".RoomResumeActivity" />
        <activity android:name=".ScanMaterialActivity" />
        <activity android:name=".DepartureRegisterActivity" />
        <activity android:name=".MaterialSearchActivity" />
        <activity android:name="com.example.activities.delegate.ScanMaterialActivity" />
        <activity android:name="com.example.activities.delegate.MaterialDetailActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>